@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    max-width: 1140px;
}

* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* This is primary color */
.text-primary {
    color: #FD6E0A;
}

/* All Button Stye */
.btn-primary {
    height: 64px;
    background-color: #FD6E0A;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    border: 0;
    padding: 18px 35px;
}

.btn-contact {
    height: 64px;
    background-color: #fff;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    color: #FD6E0A;
    border: 1px solid #FD6E0A;
    padding: 18px 35px;
}

/* Common Main Section */
.main-section {
    max-width: 1140px;
    margin: 0 200px;
}

/* Header and Navbar Style */
header {
    background-color: #FFF8F3;
    background-image: url("../images/header_bg.png"), url("../images/developer.png");
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 200px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-left: 50px;
    font-size: 20px;
}

/* Header's Banner Style */

.banner {
    display: flex;
    align-items: center;
    margin-left: 200px;
}

.banner-subtitle {
    font-size: 45px;
    font-weight: 600;
}

.banner-title {
    font-size: 65px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}

.banner-disc {
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
}

.banner_hedding {
    flex-basis: 50%;
}

.banner-img {
    flex-basis: 45%;
}

/* About Me Section */

.about {
    background-color: #FFF8F3;
    margin: 130px 0;
    padding: 130px 155px;
    text-align: center;
    border-radius: 10px;
}

.section-title {
    font-size: 35px;
    font-weight: 700;
}

.section-disc {
    margin: 30px 0;
    color: #757575;
    font-size: 18px;
}


.about-info-container {
    display: flex;
    justify-content: space-between;
}

.about-info-title {
    color: #757575;
    font-size: 20px;
}

.about-info-desc {
    color: #474747;
    font-size: 20px;
    font-weight: 600;
}

.what_i_do {
    text-align: center;
}

.what_i_do_disc {
    max-width: 910px;
    margin: 30px auto 50px;
}

.skills {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.skill {
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
    text-align: left;
}

.skill_title {
    margin: 25px 0;
    font-size: 20px;
    font-weight: 700;
}

.skill_disc {
    line-height: 28px;
    color: #757575;
}


/* resume section style */

.resume_title {
    padding: 115px;
    text-align: center;
    text-transform: CAPITALIZE;
    font-size: 35px;
    font-weight: 700;
}

.resume_container {
    display: flex;
    gap: 30px;
}

.edu_main_title {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
}

.education_info {
    border-bottom: 1px solid #D1D1D1;
}

.educatin_title {
    font-size: 25px;
    font-weight: 700;
    margin-top: 30px;
}

.education_subtitle {
    font-size: 20px;
    font-weight: 600;
    color: #757575;
    margin-top: 10px;
    margin-bottom: 20px;
}

.education_disc {
    color: #757575;
    padding-right: 50px;
    padding-bottom: 30px;
}

.resume_btn {
    margin-top: 30px;
    margin-bottom: 100px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}


/* Footer Section Style */
.footer {
    background: #FFF8F3;
}

.footer_container {
    display: flex;
    justify-content: space-between;
    padding: 130px 0;
    margin: 0 200px;
}

.social {
    flex-basis: 55%;
}

.social_title {
    font-size: 30px;
    font-weight: 700;
}

.social_disc {
    margin: 30px 0;
    color: #474747;
}

.social_icon a {
    margin-right: 20px;
    color: #FD6E0A;
}

.form {
    flex-basis: 40%;
}

.form input,
textarea {
    margin-bottom: 24px;
    border: 0;
    width: 100%;
    padding: 18px 20px;
}